*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 93vh;
    width: 97vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 20px;
    padding: 20px;
}

h1{
    margin: 20px;
    padding: 20px;
    text-align: center;
}

p{
    margin: 20px;
    padding: 20px;
    text-align: center;
}